@import url("https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
/* App {
  display: flex;

  padding: 2%;
} */

/* .cardurile {
  display: flex;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.corp {
  padding: 4%;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  height: 1000px;
}

.titlu {
  font-family: "Jura";
  font-size: 80px;
  padding-top: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}
